<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.axbt.to.dao.TbCusorderMapper">
  <resultMap id="BaseResultMap" type="top.axbt.to.domain.TbCusorder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_shop_id" jdbcType="BIGINT" property="orderShopId" />
    <result column="sell_product_id" jdbcType="BIGINT" property="sellProductId" />
    <result column="cus_info_id" jdbcType="BIGINT" property="cusInfoId" />
    <result column="courier_id" jdbcType="BIGINT" property="courierId" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="pay_state" jdbcType="INTEGER" property="payState" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_shop_id, sell_product_id, cus_info_id, courier_id, order_name, order_amount, 
    pay_state, order_state, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="top.axbt.to.domain.TbCusorderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cusorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cusorder
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cusorder
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.axbt.to.domain.TbCusorderExample">
    delete from cusorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.axbt.to.domain.TbCusorder">
    insert into cusorder (id, order_shop_id, sell_product_id, 
      cus_info_id, courier_id, order_name, 
      order_amount, pay_state, order_state, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{orderShopId,jdbcType=BIGINT}, #{sellProductId,jdbcType=BIGINT}, 
      #{cusInfoId,jdbcType=BIGINT}, #{courierId,jdbcType=BIGINT}, #{orderName,jdbcType=VARCHAR}, 
      #{orderAmount,jdbcType=DECIMAL}, #{payState,jdbcType=INTEGER}, #{orderState,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.axbt.to.domain.TbCusorder">
    insert into cusorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderShopId != null">
        order_shop_id,
      </if>
      <if test="sellProductId != null">
        sell_product_id,
      </if>
      <if test="cusInfoId != null">
        cus_info_id,
      </if>
      <if test="courierId != null">
        courier_id,
      </if>
      <if test="orderName != null">
        order_name,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="payState != null">
        pay_state,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderShopId != null">
        #{orderShopId,jdbcType=BIGINT},
      </if>
      <if test="sellProductId != null">
        #{sellProductId,jdbcType=BIGINT},
      </if>
      <if test="cusInfoId != null">
        #{cusInfoId,jdbcType=BIGINT},
      </if>
      <if test="courierId != null">
        #{courierId,jdbcType=BIGINT},
      </if>
      <if test="orderName != null">
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="payState != null">
        #{payState,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.axbt.to.domain.TbCusorderExample" resultType="java.lang.Long">
    select count(*) from cusorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cusorder
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderShopId != null">
        order_shop_id = #{record.orderShopId,jdbcType=BIGINT},
      </if>
      <if test="record.sellProductId != null">
        sell_product_id = #{record.sellProductId,jdbcType=BIGINT},
      </if>
      <if test="record.cusInfoId != null">
        cus_info_id = #{record.cusInfoId,jdbcType=BIGINT},
      </if>
      <if test="record.courierId != null">
        courier_id = #{record.courierId,jdbcType=BIGINT},
      </if>
      <if test="record.orderName != null">
        order_name = #{record.orderName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAmount != null">
        order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.payState != null">
        pay_state = #{record.payState,jdbcType=INTEGER},
      </if>
      <if test="record.orderState != null">
        order_state = #{record.orderState,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cusorder
    set id = #{record.id,jdbcType=VARCHAR},
      order_shop_id = #{record.orderShopId,jdbcType=BIGINT},
      sell_product_id = #{record.sellProductId,jdbcType=BIGINT},
      cus_info_id = #{record.cusInfoId,jdbcType=BIGINT},
      courier_id = #{record.courierId,jdbcType=BIGINT},
      order_name = #{record.orderName,jdbcType=VARCHAR},
      order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      pay_state = #{record.payState,jdbcType=INTEGER},
      order_state = #{record.orderState,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.axbt.to.domain.TbCusorder">
    update cusorder
    <set>
      <if test="orderShopId != null">
        order_shop_id = #{orderShopId,jdbcType=BIGINT},
      </if>
      <if test="sellProductId != null">
        sell_product_id = #{sellProductId,jdbcType=BIGINT},
      </if>
      <if test="cusInfoId != null">
        cus_info_id = #{cusInfoId,jdbcType=BIGINT},
      </if>
      <if test="courierId != null">
        courier_id = #{courierId,jdbcType=BIGINT},
      </if>
      <if test="orderName != null">
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="payState != null">
        pay_state = #{payState,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.axbt.to.domain.TbCusorder">
    update cusorder
    set order_shop_id = #{orderShopId,jdbcType=BIGINT},
      sell_product_id = #{sellProductId,jdbcType=BIGINT},
      cus_info_id = #{cusInfoId,jdbcType=BIGINT},
      courier_id = #{courierId,jdbcType=BIGINT},
      order_name = #{orderName,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      pay_state = #{payState,jdbcType=INTEGER},
      order_state = #{orderState,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>