<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
    <title>编辑商品</title>

    <script type="text/javascript">
        function update(id) {

            var proName = $('#pro_name').val();
            var proType = $('#pro_type').val();
            var proPhoto = $('#pro_image').val();
            var proPrice = $('#pro_price').val();

            location.href='/seller_page/updateProduct?proName='+proName+'&proType='+proType
                +'&proPhoto='+proPhoto+'&proPrice='+proPrice+'&id='+id;
        }
    </script>
</head>
<body>
<div class="sui-row-fluid" style="background: #3366CC;font-size: 16px;border-bottom: 1px #f2f2f2 solid">
    <div class="span12" style="font-weight: bold;height:40px;line-height:40px;color:#FFFFFF;text-align: center">
        编辑商品
    </div>
</div>
<div class="sui-row-fluid">
    <div class="span12" style="background: #FFFFFF;margin-top:20px;height: 50px;line-height: 50px;border-bottom: 1px #f2f2f2 solid">
        <span style="padding-left: 10px;font-size: 16px;">商品名称：</span>
        <input type="text" id="pro_name" style="height: 40px;font-size:16px;line-height: 40px;outline: none;border-bottom: 1px #f2f2f2 solid;border-left: none;border-right: none;border-top: none;" th:value="${sellProduct.proName}">
    </div>
</div>
<div class="sui-row-fluid">
    <div class="span12" style="background: #FFFFFF;margin-top:20px;height: 50px;line-height: 50px;border-bottom: 1px #f2f2f2 solid">
        <span style="padding-left: 10px;font-size: 16px;">商品类别：</span>
        <select  style="height: 30px;width: 50px;" id="pro_type">
            <option th:each="c:${categoryList}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
    </div>
</div>
<div class="sui-row-fluid">
    <div class="span12" style="background: #FFFFFF;margin-top:20px;height: 50px;line-height: 50px;border-bottom: 1px #f2f2f2 solid">
        <span style="padding-left: 10px;font-size: 16px;">商品图片：</span>
        <input type="text" id="pro_image" style="height: 40px;font-size:16px;line-height: 40px;outline: none;border-bottom: 1px #f2f2f2 solid;border-left: none;border-right: none;border-top: none;"th:value="${sellProduct.proPhoto}" >
    </div>
</div>
<div class="sui-row-fluid">
    <div class="span12" style="background: #FFFFFF;margin-top:20px;height: 50px;line-height: 50px;border-bottom: 1px #f2f2f2 solid">
        <span style="padding-left: 10px;font-size: 16px;">商品价格：</span>
        <input type="text" id="pro_price" style="height: 40px;font-size:16px;line-height: 40px;outline: none;border-bottom: 1px #f2f2f2 solid;border-left: none;border-right: none;border-top: none;" th:value="${sellProduct.proPrice}">
    </div>
</div>
<!--<div class="sui-row-fluid">
    <div class="span12" style="background: #FFFFFF;margin-top:20px;height: 50px;line-height: 50px;border-bottom: 1px #f2f2f2 solid">
        <span style="padding-left: 10px;font-size: 16px;">商品等级：</span>
        <input type="text" id="pro_level" style="height: 40px;font-size:16px;line-height: 40px;outline: none;border-bottom: 1px #f2f2f2 solid;border-left: none;border-right: none;border-top: none;" th:value="${sellProduct.proLevle}">
    </div>
</div>-->

<div class="sui-row-fluid">
    <div class="span12" style="cursor: pointer;position:absolute;bottom:0px;background: #00ca6d;text-align: center;line-height: 40px;margin-bottom: 20px;margin-top: 10px;" th:onclick="'update('+${sellProduct.id}+');'">
        <span style="color: #FFFFFF;font-size: 16px;" >保存</span>
    </div>
</div>
</body>
</html>